* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* nav */
#title {
  background-color: #ff4c68;
}
.navbar {
  margin-bottom: 4.5rem;
}
.navbar-brand {
  font-size: 2rem;
}
.container-fluid {
  padding: 3% 15% 15%;
}

.nav-link {
  padding: 0 0 0 0;
  margin: 0 10px;
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 6.5rem;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.title-img {
  width: 30%;
  transform: rotate(25deg);
  /* float: right; */
  position: absolute;
  right: 15%;
}
/* features */
#features {
  padding: 8% 15%;
  text-align: center;
  background-color: white;
  position: relative;
}
.row {
  --bs-gutter-x: 0;
}
.f-box {
  padding: 4%;
}
p {
  color: #8f8f8f;
}
.icon {
  margin-bottom: 25px;
  color: #ef8172;
}
.icon:hover {
  color: #ff4c68;
  cursor: pointer;
}
/* testimonial */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-inner {
  padding: 7% 15%;
}
.t-img {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  justify-content: center;
}
.p-img {
  width: 15%;
  margin: 20px 20px 50px;
  padding-bottom: 3%;
}
/* pricing */
#pricing {
  text-align: center;
  padding: 100px;
}

/* download */
#cta {
  text-align: center;
  padding: 20px;
  background-color: #ff4c68;
  color: white;
  padding: 7% 20%;
}
#cta h3 {
  font-size: 3rem;
  margin-bottom: 7%;
}
.cta-btn {
  margin: 0 20px;
  font-size: 1.3rem;
}
#footer {
  text-align: center;
  background-color: rgb(36, 34, 34);
  color: white;
  padding: 15px;
}
#footer p {
  margin: 0;
}
#footer a {
  text-decoration: none;
  margin: 10px 20px;

  color: white;
}

@media (max-width: 1000px) {
  .heading {
    text-align: center;
  }
  .title-img {
    position: static;
    width: 40%;
    transform: rotate(0);
  }
  #t-head {
    margin-bottom: 15%;
  }
  .container-fluid {
    padding-bottom: 10%;
  }
}
